<div class="share-buttons" aria-label="Share this post">
  <p>Share this post:</p>
  {% assign share_url = page.url | absolute_url | url_encode %}
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ share_url }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on X">
    {% include social-icon.html platform="twitter" %}
    <span>X</span>
  </a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on LinkedIn">
    {% include social-icon.html platform="linkedin" %}
    <span>LinkedIn</span>
  </a>
  <a href="https://mastodonshare.com/?text={{ page.title | append: ' ' | url_encode }}{{ share_url }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on Mastodon">
    {% include social-icon.html platform="mastodon" %}
    <span>Mastodon</span>
  </a>
  {% capture bluesky_text %}{{ page.title }} {{ page.url | absolute_url }}{% endcapture %}
  <a href="https://bsky.app/intent/compose?text={{ bluesky_text | strip | url_encode }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on Bluesky">
    {% include social-icon.html platform="bluesky" %}
    <span>Bluesky</span>
  </a>
</div>
